 @import "bootstrap";

 :root{
     --navheight: 35px;
 }

 .text-rea{
    color:#00404f;
}
.bg-rea{
    background-color:#00404f;
}
.bg-second{
    background-color: #f2f2f2;
}

// Image sizing 
.image{
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.mbody{
    margin-top: var(--navheight);
    margin-bottom: var(--navheight);
}



